@model UserRegistrationViewModel


<div asp-validation-summary="All" class="text-danger"></div>

    <h3 class="text-center">Register New User</h3>
    <hr>
    <div class="card text-center bg-light">
        <ul class="nav navbar-nav navbar-right">
            <form method="post" class="card-body" id="bootstrapForm">
                <input asp-for="UserName" type="email" placeholder="Email Address" required />
                <br />
                <input asp-for="Password" type="password" placeholder="Password" required />
                <br />
                <input asp-for="VerificationPassword" type="password" placeholder="Verify Password" required />
                <br />
                <button type="submit" class="btn btn-secondary">Register</button>
            </form>
        </ul>
    </div>