@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to myPennyFarthing</h1>
    <h5>Where data hungry cyclists can not only track their ride data but their bikes and the maintenance actions associated with their bikes.</h5>
    <img src="https://samypennyfarthing.blob.core.windows.net/images/PennyFarthingPatent.jpg" alt="patent" />
</div>
